* {
  margin: 0;
  padding: 0;
}

#slika {
  width: 100px;
  height: 100px;
}

#lbl-broj-indeksa{
  margin-top: 50px;
  margin-left: 250px;
}

#inp-br-ind{
  margin-top: 58px;
  margin-left: 20px;
  height: 40px;
  width: 300px;
}

.brind-div{
  display: flex;
  margin-top: -20px;
}

#btn-prijavi-se{
  margin-top: 25px;
  margin-left: 250px;
  font-size: 22px;
  width: 200px;
}

#odjava-btn{
  width: 250px;
  margin-bottom: 40px;
  font-size: 20px;
}

#ns {
  margin-left: 300px;
}

#side {
  background-color: #0a78da;
}

.sidebar-div {
  width: 350px;
  margin-left: -1px;
}


.nav-item {
  width: 300px;
}


#pr {
    width: 10px;
}

.prijava-ispita-div {
  display: flex;
}

#ispiti-pri-h1{
  margin-top: 30px;
  margin-left: 100px;
}

.tabela-div{
  margin-left: -490px;
  margin-top: 120px;
}

.polozeni-ispiti-div{
  display: flex;
}

#polozeni-h1{
  margin-top: 30px;
  margin-left: -400px;
}

.tabela-polozeni-div{
  margin-left: -400px;
  margin-top: 50px;
}

#prosek {
  margin-top: 10px;
  margin-left: -400px;
}

#zbirespb{
  margin-top: -31px;
  margin-left: -170px;
}

#student-info{
  width: 300px;
  margin-bottom: 15px;
}

.studenti-div {
  display: flex;
}

#studenti-h1{
  margin-left: 150px;
  margin-top: 30px;
}

.studenti-tabela{
  width: 850px;
  margin-top: 110px;
  margin-left: -575px;
  padding-top: 40px;
}

.novi-div{
  display: flex;
}

#novi-div{
  margin-top: 90px;
  margin-left: -145px;
  height: 80px;
}

#novi-student-h1{
  margin-left: 150px;
  margin-top: 30px;
}

.novi-f {
  margin-top: 120px;
  margin-left: -225px;
  width: 500px;
  font-size: 20px;
}

.izm-div{
  display: flex
}

.izmena-f{
  margin-top: 120px;
  margin-left: -290px;
  width: 500px;
  font-size: 20px;
}

#nemate-h1{
  margin-top: 30px;
  margin-left: 150px;
}

.pispiti-div {

  margin-left: 500px;

}


.index-div{
  display: flex;
}

#index-h1{
  margin-top: 30px;
  margin-left: 150px;
}

#txt-ob{
  margin-top: 120px;
  margin-left: -70px;
}

#dtm {
  margin-top: 90px;
  margin-left: -325px;
}

#pretraga {
  width: 300px;
  height: 40px;
  margin-top: 88px;
  margin-left: 50px;
}

#pretraga-b{
  font-size: 18px;
  height: 40px;
  margin-top: 88px;
  margin-left: 20px;  
}